*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}
body{
    background-color: white;
}
header{
    display: flex;
    align-items: center;
    background-color:orangered;
    text-align: left;
    background-image: url(file:///C:/Users/Antonio/Desktop/esercizi/boolando/html-css-boolando/boolando-images/img/boolean-logo.png);
    background-repeat:no-repeat;
    background-position-x: center;
    padding:10px;
    width: 2000px;
    height: 120px;
}
.href{
    color: white;
    padding: 20px;
}

.prima{
    display: flex;
    padding: 50px;
}

main{
    display: block;
}
div.column-small{
    width: 30%;
}
div.column{
    padding: 2rem;
}
.flex-centered{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:20px;
}
.p1{
color:red;
}
.black{
    color: black;
}

.immagine1 {
	display: block; 
}

.immagine2 {
	display: none;
}

.cambioimmagine {
	
}

.cambioimmagine:hover .immagine1 {
	display: none;   
}

.cambioimmagine:hover .immagine2 {
	display: block;   
}
footer{
    display: flex;
    background-color: gray;
    color: white;
    width: 2000px;
}
div.flex{
    display: flex;
}
div footer{
    justify-content: space-between;    
}
.destra{
width: 20px;
height: 20px;
}
