*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: sans-serif;
}

header{
background-color: orangered;
color: white;

}
main{
padding: 3.5rem;
}
div.main-logo >img{
height: 50px;
}
footer{
background-color:gray;
color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style-type: none;
}
header nav{
    padding: 0.8rem 0;
}
header nav li{
    margin-right: 1rem;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.immagine1 {
	display: block; 
}

.immagine2 {
	display: none;
}

.cambioimmagine {
	
}

.cambioimmagine:hover .immagine1 {
	display: none;   
}

.cambioimmagine:hover .immagine2 {
	display: block;   
}
.flex-centered{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
div.column-small{
    width: 30%;
}
div.column{
    padding: 2rem;
}
.p1{
    color:red;
    }
.black{
        color: black;
}
    
